/* الأنماط الافتراضية */
.bodyc h1 {
    font-size: 60px;
    margin-top: 30px;
    color: #5d5d5d;
}

.gif {
    width: 400px;
    height: 400px;
    margin-bottom: 100px;
}

/* تعديلات لأحجام الشاشات المختلفة */
@media (max-width: 992px) {
    .gif {
        width: 300px; /* تقليل حجم الصورة عندما يكون عرض الشاشة أقل من 992 بكسل */
        height: 300px;
    }
}

@media (max-width: 768px) {
    .body h1 {
        font-size: 50px; /* تقليل حجم العنوان في شاشات الأجهزة اللوحية */
    }

    .gif {
        width: 200px; /* تقليل حجم الصورة عندما يكون عرض الشاشة أقل من 768 بكسل */
        height: 200px;
    }
}

@media (max-width: 576px) {
    .body h1 {
        font-size: 40px; /* تقليل حجم العنوان في شاشات الهواتف الذكية */
    }

    .gif {
        width: 150px; /* تقليل حجم الصورة عندما يكون عرض الشاشة أقل من 576 بكسل */
        height: 150px;
    }
}
