.bodyin {
  margin-top: 0px;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(150deg, #3d4ced, #48d6ed);
  background-size: cover;
  background-position: center;
}

.info {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 550px;
  display: flex;
  position: absolute;
  margin: 100px auto;
  border-radius: 40px;
  left: 0;
  right: 0;
  transform: translateY(50px);
}

.gifin {
  width: 100px;
  height: 100px;
  margin-top: 25px;
}

.sin {
  font-size: 40px;
  color: #5d5d5d;
}

.info ul li {
  margin-left: 45px;
  padding-top: 20px;
  text-align: center;
  list-style: none;
}

.form {
  width: 100%;
  height: auto;
  color: #3b58ec;
  text-align: left;
  padding-left: 1rem;
  font-size: 2rem;
  margin-top: -20px;
}

.insi {
  width: 300px;
  max-width: 980px;
  height: 32px;
  border-radius: 10px;
  border: 1px solid;
  padding-left: 1rem;
  color: #5d5d5d;
  font-size: 1.5rem;
  padding-top: 5px;
}

.lin {
  display: block;
  color: #3b58ec;
  margin-top: 10px;
  margin-bottom: -15px;
  margin-left: 0;
  font-size: 2rem;
}


.fpass{
    font-size: 25px;
    color: #5d5d5d;
    text-decoration: none;


}


.inbu {
  display: block;
  width: 100px;
  height: 50px;
  font-size: 2rem;
  color: #3b58ec;
  border-radius: 20px;
  border-color: #3b58ec;
  margin: 3rem auto 5rem;
  background-color: #fff;
}
.designLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}

/* Media Queries */
@media (max-width: 1200px) {
  .info {
      width: 350px;
      height: 500px;
  }

  .sin {
      font-size: 35px;
  }

  .insi {
      width: 250px;
      font-size: 1.25rem;
  }

  .lin {
      font-size: 1.75rem;
  }

  .inbu {
      width: 90px;
      height: 45px;
      font-size: 1.75rem;
  }

  .bodyin {
      height: 100vh;
  }
}

@media (max-width: 992px) {
  .info {
      width: 300px;
      height: 450px;
  }

  .sin {
      font-size: 30px;
  }

  .insi {
      width: 200px;
      font-size: 1.25rem;
  }

  .lin {
      font-size: 1.5rem;
  }

  .inbu {
      width: 80px;
      height: 40px;
      font-size: 1.5rem;
  }

  .bodyin {
      height: 100vh;
  }
}

@media (max-width: 768px) {
  .info {
      width: 250px;
      height: 400px;
  }

  .sin {
      font-size: 25px;
  }

  .insi {
      width: 180px;
      font-size: 1rem;
  }

  .lin {
      font-size: 1.25rem;
  }

  .inbu {
      width: 70px;
      height: 35px;
      font-size: 1.25rem;
  }

  .bodyin {
      height: 100vh;
  }
}

@media (max-width: 576px) {
  .info {
      width: 200px;
      height: 350px;
  }

  .sin {
      font-size: 20px;
  }

  .insi {
      width: 150px;
      font-size: 0.875rem;
  }

  .lin {
      font-size: 1rem;
  }

  .inbu {
      width: 60px;
      height: 30px;
      font-size: 1rem;
  }

  .bodyin {
      height: 100vh;
  }
}

/* Media Queries for very small devices */
@media (max-width: 480px) {
  .info {
      width: 180px;
      height: 320px;
  }

  .sin {
      font-size: 18px;
  }

  .insi {
      width: 140px;
      font-size: 0.75rem;
  }

  .lin {
      font-size: 0.875rem;
  }

  .inbu {
      width: 50px;
      height: 25px;
      font-size: 0.875rem;
  }

  .bodyin {
      height: 100vh;
  }
}

@media (max-width: 360px) {
  .info {
      width: 160px;
      height: 300px;
  }

  .sin {
      font-size: 16px;
  }

  .insi {
      width: 130px;
      font-size: 0.75rem;
  }

  .lin {
      font-size: 0.75rem;
  }

  .inbu {
      width: 45px;
      height: 20px;
      font-size: 0.75rem;
  }

  .bodyin {
      height: 100vh;
  }
}
